<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=">
    <title>{{email_title}}</title>
  </head>
  <body style="background-color:#F7F7F5; color:#000; font-family:Helvetica, Arial, sans-serif; margin:0; padding:0" bgcolor="#F7F7F5">
    <div class="email-container" style="background-color:#F7F7F5; border-radius:8px; margin:40px auto; overflow:hidden; padding:0; width:600px" bgcolor="#F7F7F5" width="600">
      <div class="email-header" style="padding:30px 20px">
        <a href="https://focus-pro.io">
          <img src="http://cdn.mcauto-images-production.sendgrid.net/6650d3c2758b468a/2b21ca8f-3946-49dd-b053-0374976468bc/512x136.png" alt="Focus" style="height:50px" height="50">
        </a>
      </div>
      <div class="email-body" style="background-color:#fff; border-radius:10px; color:#3E3E3E; line-height:1.6; margin-left:20px; margin-right:20px; padding:30px" bgcolor="#ffffff">
        <h1 style="color:#121A26; font-size:24px; margin-top:0">{{salutation}}</h1>
        <p style="font-size:16px; margin:16px 0">{{hi}},</p>
        <p style="font-size:16px; margin:16px 0">{{welcome_message}}</p>
        <p style="font-size:16px; margin:16px 0">{{instruction}}</p>
        <div class="code-value" style="display:flex">
          {{#each (splitOtp otp "")}}
            <div class="code-number" style="align-items:center; background-color:#f7f7f5; border:1px solid #006562; border-radius:10px; color:#212529; display:inline-flex; font-size:25px; font-weight:bold; height:50px; justify-content:center; margin-bottom:20px; margin-right:10px; margin-top:20px; width:50px" bgcolor="#f7f7f5" height="50" width="50">{{this}}</div>
          {{/each}}
        </div>
        <p style="font-size:16px; margin:16px 0">{{code_expiration}}</p>
        <p style="font-size:16px; margin:16px 0">
          <strong>{{alternative_title}}</strong>
        </p>
        <p style="font-size:16px; margin:16px 0">{{alternative_text}}</p>
        <div>
          <a href="{{magicLink}}" class="button" style="background-color:#006562; border-radius:5px; color:#fff; display:inline-block; font-size:15px; font-weight:500; margin-bottom:20px; margin-top:10px; padding:12px 20px; text-decoration:none" bgcolor="#006562">{{activate_account}}</a>
        </div>
        <p style="font-size:16px; margin:16px 0">{{support_message_part1}}
          <a href="mailto:support@mail.focus-suite.com" style="color: #006562 !important; font-weight: bold; text-decoration: none;">support@mail.focus-suite.com</a>. {{support_message_part2}}
        </p>
        <p style="font-size:16px; margin:16px 0; margin-top:30px">{{thanks_for_your_trust}}</p>
        <p style="font-size:16px; margin:16px 0">{{team}}</p>
      </div>
      <div class="email-footer" style="color:#888; font-size:15px; line-height:25px; padding:20px; text-align:left" align="left">
        <p class="warning">{{footer_warning}}</p>
        <p>{{additional_support_offer_part1}}
          <a href="mailto:contact@mail.focus-suite.com" style="color: #006562 !important; font-weight: bold; text-decoration: none;">contact@mail.focus-suite.com</a>. {{additional_support_offer_part2}}
        </p>
        <div class="social-icons" style="margin-top:20px">
          <a href="https://www.linkedin.com">
            <img src="http://cdn.mcauto-images-production.sendgrid.net/6650d3c2758b468a/8e3c6d0d-88cb-49c1-b8ef-62c6891e10d5/512x513.png" alt="LinkedIn" style="margin-right:10px; width:20px" width="20">
          </a>
          <a href="https://twitter.com">
            <img src="http://cdn.mcauto-images-production.sendgrid.net/6650d3c2758b468a/f02dde5b-068b-4cb0-b4da-668f10ad228b/512x513.png" alt="Twitter" style="margin-right:10px; width:20px" width="20">
          </a>
          <a href="https://www.facebook.com">
            <img src="http://cdn.mcauto-images-production.sendgrid.net/6650d3c2758b468a/ddbec2e0-0a11-41d7-82dc-bbad2d728efb/512x513.png" alt="Facebook" style="margin-right:10px; width:20px" width="20">
          </a>
          <a href="https://www.instagram.com">
            <img src="http://cdn.mcauto-images-production.sendgrid.net/6650d3c2758b468a/a59898d8-519e-426f-b080-daef67b3cc8a/512x513.png" alt="Instagram" style="margin-right:10px; width:20px" width="20">
          </a>
        </div>
        <p>{{copyright}}</p>
      </div>
    </div>
  </body>
</html>